<?xml version="1.0" encoding="UTF-8"?>
<!--
  This file is part of the DITA Validator project.
  See the accompanying LICENSE file for applicable licenses.
-->
<plugin id="com.here.validate.svrl">
	<!--
		Define package details.
	-->
	<feature extension="package.support.name" value="APF team"/>
	<feature extension="package.support.email" value="I_APF_SUPPORT@here.com"/>
	<feature extension="package.version" value="2.0.0"/>
	<!--
		Add new value to list of valid transformation type names.

		See also: http://www.dita-ot.org/2.2/dev_ref/plugin-newtranstype.html
	-->
	<feature extension="dita.conductor.transtype.check" value="svrl"/>
	<feature extension="dita.xsl.strings" file="cfg/common/vars/strings.xml"/>
	<feature extension="dita.xsl.messages" file="resource/messages.xml"/>
	<transtype abstract="false" desc="DITA Validation" name="svrl">
		<param desc="Specifies the customization directory." name="svrl.customization.dir" type="dir"/>
		<param desc="Specifies the ruleset file to use." name="svrl.ruleset.file" type="file"/>
		<param desc="Specifies the location of the XSL file used to echo output" name="svrl.filter.file" type="file"/>
		<param desc="Specifies the location a cache file to be used" name="args.validate.cachefile" type="file"/>
		<param desc="Comma separated list of rules not to be enforced" name="args.validate.ignore.rules" type="string"/>
		<param desc="Comma separated list of words not to be present in the running text" name="args.validate.blacklist" type="string"/>
		<param desc="Comma separated list of words which have a specified capitalization" name="args.validate.check.case" type="string"/>
		<param desc="Validation Mode" name="args.validate.mode" type="enum">
			<val desc="Outputs errors and warnings. Fails on errors and warnings.">strict</val>
			<val default="true" desc="Outputs errors and warnings. Fails on errors only">default</val>
			<val desc="Outputs errors only. Fails on Errors only">lax</val>
			<val desc="SVRL Report only.">report</val>
			<val desc="Run Automatic error fix command">fix-dita</val>
		</param>
		<param desc="Whether to colorize the validation output" name="args.validate.color" type="enum">
			<val default="true" desc="Output highlights errors and warnings using ANSI color codes">true</val>
			<val desc="Output does not highlight errors and warnings">false</val>
		</param>
	</transtype>
	<!--feature extension="ant.import" file="build_dita2svrl.xml"/-->
	<feature extension="dita.conductor.target.relative" file="conductor.xml"/>
	<template file="build_dita2svrl_template.xml"/>
</plugin>